body.login {
  background: url("http://pre03.deviantart.net/80f0/th/pre/f/2012/213/c/d/django__black_and_white__by_aruseni-d59g4lg.png") no-repeat center center fixed;
}
footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  max-height: 60px;
  color: #FFC;
  background-color: #417690; 
}
footer p {
  margin: 20px 10px;
}
